# Task 1 Introduction : Transportation in Ireland
ROA23 - Users of Cars Involved in Fatal and Injury Collisions
https://data.gov.ie/dataset/roa23-users-of-cars-involved-in-fatal-and-injury-collisions


About this file Dataset contains these rows:


Licensed under: Creative Commons Attribution 4.0
GITHUB LINK:
https://github.com/Johanna23cct/-Users-of-Cars-Involved-in-Fatal-and-Injury-Collisions.git

# Task 2 Setup and imports libraries

In [1]:
# Importing some libraries:
import pandas as pd
import statistics as stats
import numpy as np
import csv
# import some libraries for Visualising the price variable:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Import the library for normalization of the data
from sklearn.preprocessing import StandardScaler
from sklearn import datasets
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
data = load_iris()
X_train, X_test, y_train, y_test = train_test_split(data.data, data.target, test_size=0.2, random_state=42)
from sklearn.tree import DecisionTreeRegressor

# Task 3 importing data
Read data from csv.
Shape.
Drop unnecessary columns.
add sentiment.


Calculation of Polarity
summary statistics Descriptive

In [2]:
df = pd.read_csv('collisions.csv')
df.head()

,STATISTIC,Statistic Label,TLIST(A1),Year,C03121V03773,Seat Belt Usage,UNIT,VALUE
0,ROA23C1,Users of Cars Killed in Collisions,2005,2005,1,Car drivers: seat belt in use,Number,55.0
1,ROA23C1,Users of Cars Killed in Collisions,2005,2005,2,Car drivers: seat belt not in use,Number,38.0
2,ROA23C1,Users of Cars Killed in Collisions,2005,2005,3,Car drivers: seat belt usage unknown,Number,37.0
3,ROA23C1,Users of Cars Killed in Collisions,2005,2005,4,Car drivers: seat belt usage not stated,Number,14.0
4,ROA23C1,Users of Cars Killed in Collisions,2005,2005,9,All car drivers,Number,144.0

In [3]:
df.shape

(680, 8)

In [4]:
# To Drop one duplicate row TLIST(A1)	Year
to_drop = ['TLIST(A1)']
df.drop(columns=to_drop, inplace=True)
df.head()

,STATISTIC,Statistic Label,Year,C03121V03773,Seat Belt Usage,UNIT,VALUE
0,ROA23C1,Users of Cars Killed in Collisions,2005,1,Car drivers: seat belt in use,Number,55.0
1,ROA23C1,Users of Cars Killed in Collisions,2005,2,Car drivers: seat belt not in use,Number,38.0
2,ROA23C1,Users of Cars Killed in Collisions,2005,3,Car drivers: seat belt usage unknown,Number,37.0
3,ROA23C1,Users of Cars Killed in Collisions,2005,4,Car drivers: seat belt usage not stated,Number,14.0
4,ROA23C1,Users of Cars Killed in Collisions,2005,9,All car drivers,Number,144.0

In [5]:
df.rename(columns={'Seat Belt Usage': 'Seat Belt'}, inplace=True)
df.head()

,STATISTIC,Statistic Label,Year,C03121V03773,Seat Belt,UNIT,VALUE
0,ROA23C1,Users of Cars Killed in Collisions,2005,1,Car drivers: seat belt in use,Number,55.0
1,ROA23C1,Users of Cars Killed in Collisions,2005,2,Car drivers: seat belt not in use,Number,38.0
2,ROA23C1,Users of Cars Killed in Collisions,2005,3,Car drivers: seat belt usage unknown,Number,37.0
3,ROA23C1,Users of Cars Killed in Collisions,2005,4,Car drivers: seat belt usage not stated,Number,14.0
4,ROA23C1,Users of Cars Killed in Collisions,2005,9,All car drivers,Number,144.0

In [6]:
print(df['Seat Belt'])

0                          Car drivers: seat belt in use
1                      Car drivers: seat belt not in use
2                   Car drivers: seat belt usage unknown
3                Car drivers: seat belt usage not stated
4                                        All car drivers
                             ...
675              Front seat passengers: seat belt in use
676          Front seat passengers: seat belt not in use
677       Front seat passengers: seat belt usage unknown
678    Front seat passengers: seat belt usage not stated
679                            All front seat passengers
Name: Seat Belt, Length: 680, dtype: object

In [7]:
def analyze_seat_belt_sentiment(text):
    # Convert the text to lowercase for easier matching
    text = text.lower()
    
    # Assign sentiment based on the content of the text
    if "in use" in text or "All car drivers" in text:
        return "Positive"
    elif "not in use" in text or "unknown" in text or "not stated" in text:
        return "Negative"
    else:
        return "Neutral"
df['SeatBelt_Sentiment'] = df['Seat Belt'].apply(analyze_seat_belt_sentiment)
(df.head())

,STATISTIC,Statistic Label,Year,C03121V03773,Seat Belt,UNIT,VALUE,SeatBelt_Sentiment
0,ROA23C1,Users of Cars Killed in Collisions,2005,1,Car drivers: seat belt in use,Number,55.0,Positive
1,ROA23C1,Users of Cars Killed in Collisions,2005,2,Car drivers: seat belt not in use,Number,38.0,Positive
2,ROA23C1,Users of Cars Killed in Collisions,2005,3,Car drivers: seat belt usage unknown,Number,37.0,Negative
3,ROA23C1,Users of Cars Killed in Collisions,2005,4,Car drivers: seat belt usage not stated,Number,14.0,Negative
4,ROA23C1,Users of Cars Killed in Collisions,2005,9,All car drivers,Number,144.0,Neutral

In [ ]:
def analyze_sentiment(Seat Belt Usage):
    sentiment_score = 0
    if kms_driven < 50000:
        sentiment_score += 1
    elif 50000 <= kms_driven < 100000:
        sentiment_score += 0.5
    if owner_type == "First":
        sentiment_score += 1
    elif owner_type == "Second":
        sentiment_score += 0.5
    # You can add more conditions or use a more sophisticated approach based on your requirements
    return sentiment_score

In [4]:
# summary of the dataset: 608 rows, 8 columns, no null values
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC        680 non-null    object
 1   Statistic Label  680 non-null    object
 2   TLIST(A1)        680 non-null    int64
 3   Year             680 non-null    int64
 4   C03121V03773     680 non-null    int64
 5   Seat Belt Usage  680 non-null    object
 6   UNIT             680 non-null    object
 7   VALUE            595 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 42.6+ KB
None

In [5]:
df.describe()

         TLIST(A1)         Year  C03121V03773        VALUE
count   680.000000   680.000000    680.000000   595.000000
mean   2013.000000  2013.000000      5.500000   880.877311
std       4.902586     4.902586      2.874396  1424.144822
min    2005.000000  2005.000000      1.000000     0.000000
25%    2009.000000  2009.000000      3.000000    18.000000
50%    2013.000000  2013.000000      5.500000   145.000000
75%    2017.000000  2017.000000      8.000000  1194.000000
max    2021.000000  2021.000000     10.000000  7837.000000

In [8]:
# create a sample DataFrame
df = pd.DataFrame({'categorical_variable': ['Statistic Label', 'Year', 'Seat Belt Usage', 'VALUE']})

In [9]:
value_counts = df['categorical_variable'].value_counts()

In [10]:
print(value_counts)

categorical_variable
Statistic Label    1
Year               1
Seat Belt Usage    1
VALUE              1
Name: count, dtype: int64

In [11]:
#Prints the minimum value of all the elements in a
a = np.array([df])
print(a.min())
print(a.max())
print(a.sum())

Seat Belt Usage
Year
Statistic LabelYearSeat Belt UsageVALUE

   #           Measure of Central Tendency "Second hand home"

In [10]:
# Mean
numeric_data = df["Year"]
if numeric_data.dtype == 'int64' or numeric_data.dtype == 'float64':
    mean = numeric_data.mean()
    mean_rounded = round(mean, 2)
    print('Mean:', mean_rounded)
else:
    print("The selected column does not contain numeric data")

KeyError: 'Year'

In [ ]:
median = home["National"].median()
print('Median:', median)

In [ ]:
def analyze_sentiment(kms_driven, owner_type):
    # Perform sentiment analysis based on your criteria
    # This can be a simple rule-based approach, machine learning model, or any other method
    # For simplicity, let's assume a rule-based approach here
    sentiment_score = 0
    if kms_driven < 50000:
        sentiment_score += 1
    elif 50000 <= kms_driven < 100000:
        sentiment_score += 0.5
    if owner_type == "First":
        sentiment_score += 1
    elif owner_type == "Second":
        sentiment_score += 0.5
    # You can add more conditions or use a more sophisticated approach based on your requirements
    return sentiment_score

In [ ]:
df = df.drop(['Title', 'Positive Feedback Count', 'Unnamed: 0', ], axis=1)
df.dropna(inplace=True)